/*Адаптивность*/
@media (max-width:1300px) {
/* стили для hd - начало */
.popup {
max-width: 800px;
padding: 50px;
}
.popup h1{
	font-size: 48px;
	line-height: 70px;
}
window {
min-width: 400px;
max-height: 500px;
padding: 20px;
font-size: 20px;
border-radius: 30px;
}
.close{
	font-size: 12px;
}
}

@media (max-width:991px) {
/* стили для больших планшетов - начало */

.popup h1{
	font-size: 38px;
	line-height: 45px;
}.close {
    font-size: 12px;
}window {
min-height: 100px;
max-height: 300px;
padding: 20px;
font-size: 18px;
border-radius: 30px;
}
}

@media (max-width:767px) {
/* стили для средних планшетов - начало */
.block{
	width: 100%;
	height: 25vh;
}.bl{
	padding: 9vmin 25vmin;
}.popup {
min-width: 400px;
min-height: 170px;
padding: 20px;
}
.popup h1{
	font-size: 30px;
	line-height: 40px;
}.close {
    top: 2px;
    right: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
}window {
min-width: 450px;
min-height: 100px;
max-height: 250px;
padding: 20px;
font-size: 14px;
border-radius: 20px;
}
}

@media (max-width:479px) {
/* стили для телефонов - начало */
.block{
	width: 100%;
	height: 25vh;
}.bl{
	padding: 15vmin 25vmin;
}.popup {
min-width: 260px;
min-height: 100px;
padding: 20px;
}
.popup h1{
	font-size: 18px;
	line-height: 20px;
}.close {
    top: 1px;
    right: 1px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
}window {
min-width: 280px;
min-height: 300px;
max-height: 400px;
padding: 20px;
font-size: 14px;
border-radius: 15px;
}
}