
.wrapper{
	min-height: 100vh;
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
.content{
	min-height: 100vh;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
}

.block{
	width: 50%;
	margin: 0px;
	padding: 0px;
	height: 50vh;
}
.one{background: #05386B  ;}
.one:hover{position: relative;box-shadow: 0px 0px 1900px black;}
.two{background: #379683  ;}
.two:hover{position: relative;box-shadow: 0px 0px 1900px black;}
.thr{background: #5CDB95  ;}
.thr:hover{position: relative;box-shadow: 0px 0px 1900px black;}
.tho{background: #8EE4AF  ;}
.tho:hover{position: relative;box-shadow: 0px 0px 1900px black;}


.bl{
	padding: 215px 225px;
	text-align: center;
	height: 100%;
	font-size: 60px;
	color: #fff;
	font-family: Roboto, Arial, monospace;
	font-weight: 700;
	text-shadow: 0 0 50px #EDF5E1;
}
.bl:hover{
	color: #000;
}

/*Адаптивность*/
@media (max-width: 1200px){
	max-width:970px;
}
@media (max-width: 992px){
	max-width:750px;
}
@media (max-width: 767px){
	max-width:none;
}
